<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/messages">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/newmessages">New Messages</a>
        </li>
    </ul>
</nav>
<div class="container">
    <form action="/messages" method="get">
        <p><button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample"
                   aria-expanded="false" aria-controls="collapseExample"> Keresés </button></p>
        <div class="collapse" id="collapseExample">

        <h1></h1>
        <div class="form-group">
            <label for="rendezes1">Üzenet szövege</label>
            <input type="text" class="form-control" id="rendezes1" name="text">
        </div>
        <div class="form-group">
            <label for="rendezes2">Üzenet írója</label>
            <input type="text" class="form-control" id="rendezes2" name="author">
        </div>
        <div class="form-group">
            <label for="datefrom">Üzenet keletkezése</label>
            <input type="datetime-local" class="form-control" id="datefrom" name="date">
        </div>
        <div data-sec-authorize="hasRole('ADMIN')">
            <div class="form-group">
                <label for="rendezes4">Törölt üzenetek</label>
                <input type="text" class="form-control" id="rendezes4" name="isDeleted()">
            </div>
         </div>

        <div class="form-group">
        <label for="rendezes">Rendezés szempontja</label>
            <select type="text" class="form-control" id="rendezes" name="orderby">
                <option value="text">Szöveg</option>
                <option>Író</option>
                <option>Dátum</option>
            </select>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Rendezés iránya</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                               checked>
                        <label class="form-check-label" for="gridRadios1">
                            Növekvő
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Csökkenő
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <h1>Üzenetek</h1>
    <table class="table">
        <thead>
        <tr>
            <td>Azonosító</td>
            <td>Szerző</td>
            <td>Szöveg</td>
            <td>Dátum</td>
            <td>Topic</td>
            <td>Részletek</td>
            <div data-sec-authorize="hasRole('ADMIN')">
                <td>Aktív</td>
            <td>Törlés</td>
            </div>
            <td></td>
        </tr>
        </thead>
        <tr data-th-each="msg: ${msgList}">
            <td style ="display: none" class="msgId" data-th-text="${msg.id}"></td>
            <td data-th-text="${msg.id}"></td>
            <td><a data-th-text="${msg.author?.username}" data-th-href="@{/users/{author}(author=${msg.author?.id})}"></a></td>
            <td data-th-text="${msg.text}"></td>
            <td data-th-text="${{msg.creationDate}}"></td>
            <td data-th-text="${msg.topic?.topicTheme}"></td>
            <td><a data-th-href="@{/message/{id}(id=${msg.id})}" class="btn btn-outline-success">Részletek</a></td>
            <div data-sec-authorize="hasRole('ADMIN')">
                <td data-th-text="${msg.isDeleted()}"></td>
            </div>
            <div data-sec-authorize="hasRole('ADMIN')">
                <td>
                    <form data-th-action="@{messages/delete/{id}(id=${msg.id})}" method="POST">
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                </td>
            </div>
        </tr>
    </table>
    <form style="display: none" method="post" data-th-action="@{/messages/delete/0}">
        <button type="submit">Delete</button>
    </form>
    <script>
        $('.deleteButton').click(function(event){
            let id = event.target.closest('tr').querySelector('.msgId').innerText;
            $.ajax('messages/delete/'+id, {
                method: "DELETE",
                beforeSend: function(xhr){xhr.setRequestHeader('X-CSRF-TOKEN', $("input[name='_csrf']")[0].value);},
                success: function(){
                    let selector = ".msgId:contains('" + id + "')";
                    $('#msgtbody tr').has(selector).fadeOut(3000);
                }
            })
        })
    </script>
</div>
</body>
</html>
